#  Load Pandas Package

In [1]:
import pandas as pd

## 1. DataFrame (df) : 
A 2-dimensional data structure [rows and columns] that can store data of different types.
Similar to an SQL table.

### **Creating DataFrame**

DataFrame for Customers Data with their name, age and gender.

In [2]:
df = pd.DataFrame({
        "Name"   : ["Ram Sharma", "Ashok Shah", "Riya Verma"],
        "Age"    : [22, 23, 21],
        "Gender" : ['Male', 'Male', 'Female']
})

In [3]:
df

         Name  Age  Gender
0  Ram Sharma   22    Male
1  Ashok Shah   23    Male
2  Riya Verma   21  Female

Notice use of braces and quotation carefully ({ 'col1' : ['char'] , 'col2' : [int] })

Rows above are identifies using 0,1,2.. and so on by default.
#### These Row Labels are called Index.
You can assign them as follows.
## 2. Index In DataFrame :

In [4]:
df = pd.DataFrame({
        "Name"   : ["Ram Sharma", "Ashok Shah", "Riya Verma"],
        "Age"    : [22, 23, 21],
        "Gender" : ['Male', 'Male', 'Female']
     },
    index = ['Cust01', 'Cust02', 'Cust03']
)

In [5]:
df

              Name  Age  Gender
Cust01  Ram Sharma   22    Male
Cust02  Ashok Shah   23    Male
Cust03  Riya Verma   21  Female

## 3. Series :

Each column in a DataFrame is a Series

### A] **Creating Series** for storing list of fruits

In [6]:
fruits = pd.Series(['Apple', 'Mango', 'Cherry'])

In [7]:
fruits

0     Apple
1     Mango
2    Cherry
dtype: object

or

In [8]:
fruits1 = pd.Series(['Apple', 'Mango', 'Cherry'],name = 'Fruit')

In [9]:
fruits1

0     Apple
1     Mango
2    Cherry
Name: Fruit, dtype: object

## 4. Index In Series

In [10]:
fruits = pd.Series(['Apple', 'Mango', 'Cherry'],name = 'Fruit',
                  index = ['f01','f02','f03'])

In [11]:
fruits

f01     Apple
f02     Mango
f03    Cherry
Name: Fruit, dtype: object

In [12]:
fruits[0]

'Apple'

### B] Fetch Specific Series From DataFrame

In [13]:
df['Name']

Cust01    Ram Sharma
Cust02    Ashok Shah
Cust03    Riya Verma
Name: Name, dtype: object

## 5.Describe()

The describe() method provides a quick overview of the numerical data in a DataFrame.

In [14]:
df.describe()

        Age
count   3.0
mean   22.0
std     1.0
min    21.0
25%    21.5
50%    22.0
75%    22.5
max    23.0

##  6. Info()

The method info() provides technical information about a DataFrame

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Cust01 to Cust03
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

## 7. Shape

It is an attribute that returns number of rows and columns in a dataframe.
Or, number of rows in a series

In [16]:
df.shape

(3, 3)

In [17]:
fruits.shape

(3,)

## 8. dtypes

In [18]:
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object

###### Notice shape, dtypes uses no brackets().
Unlike head(),tail(),describe().
Because shape, dtypes is an Pandas Atrribute i.e represent a characteristic of a DataFrame/Series, whereas a method (which requires brackets) do something with the DataFrame/Series

#### ~ Pragya ðŸŽ€