# Exporting Data & Reading Data From Excel

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("C:/Users/PRAGYA GUPTA/OneDrive/Documents/MyProjects/PandasTutorial/csvFile/titanic/train.csv")

Suppose, I want above .csv as .xlsx (excel file) => use to_excel

## Exporting To Excel

### 1. to_excel( ) :

The to_excel() method stores the data as an excel file.

In [7]:
data.to_excel("train.xlsx", sheet_name="passengers", index=False)

 By setting index=False the row index labels are not saved in the spreadsheet.

## Reading From Excel

### 2. read_excel( ) :

read_excel() will reload the data to a DataFrame

In [9]:
dataEx = pd.read_excel("train.xlsx", sheet_name="passengers")

In [11]:
dataEx.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

#### ~ Pragya ðŸŽ€